<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
               #img1{
            float: right;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .item{
            width: 75%;
            font-size: 1.5rem;
            
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/LED_strip_Amazon_review.jpg/330px-LED_strip_Amazon_review.jpg" id="img1" height="300px">
    <p>A user review is a review conducted by any person who has access to the internet and publishes their experience to a review site or social media platform following product testing or the evaluation of a service. User reviews are commonly provided by consumers who volunteer to write the review, rather than professionals who are paid to evaluate the product or service. User reviews might be compared to professional nonprofit reviews from a consumer organization, or to promotional reviews from an advertiser or company marketing a product. Growth of social media platforms has enabled the facilitation of interaction between consumers after a review has been placed on online communities such as blogs, internet forums or other popular platforms.

       <h3> Purpose of user reviews</h3>
        User reviews guide stakeholders, including consumers, producers, and competitors decision making process regarding the good or service experienced by the user providing the review. Purchase decisions can be made with easy access to product information through reviews from users who have knowledge from an experience, information or tangible good. Producers of goods and services can utilise user reviews through word of mouth (WOM) recognition enhancing their reputation, but can also be disparaged. For goods which value is derived from knowledge and information, user reviews provide a "wealth of experience information," and therefore increase potential consumers.</p>
    </div>
    </div>
</body>
</html>