<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="static/style1.css">
</head>

<body>
    <div class="container">
        <div class="heding">
            <h1>User Review System</h1>
            <div class="info">
                <a href="about" class="about" style="text-decoration:none">About</a>
                <a href="contect" class="contec" style="text-decoration:none">Contect</a>
            </div>
        </div>
        <div class="items">
            <div class="item1">
                <div class="imag1">
                    <img src="https://m.media-amazon.com/images/I/61sU8OqBs4L._AC_UY327_FMwebp_QL65_.jpg" class="img1">
                </div>
                <div class="img1info">
                    <h2 class="h1">samsung galaxy s25 ultra 5g</h2>
                    <p class="p1">Samsung Galaxy S25 Ultra 5G AI Smartphone (Titanium Silverblue, 12GB RAM, 1TB Storage), 200MP
                        Camera, S Pen Included, Long Battery Life.</p>
                        <div class="rating1">
                            <input type="radio" name="star" id="star5" value="5">
                            <label for="star5">&#9733;</label>
                            <input type="radio" name="star" id="star4" value="4">
                            <label for="star4">&#9733;</label>
                            <input type="radio" name="star" id="star3" value="3">
                            <label for="star3">&#9733;</label>
                            <input type="radio" name="star" id="star2" value="2">
                            <label for="star2">&#9733;</label>
                            <input type="radio" name="star" id="star1" value="1">
                            <label for="star1">&#9733;</label>
                        </div>
                </div>
            </div>
            <div class="item2">
                <div class="img2">
                    <img src="https://m.media-amazon.com/images/I/41037bXz-GL._MCnd_AC_.jpg" class="img2">
                </div>
                <div class="img2info">
                    <h2 class="h2">iPhone 16 Pro Max </h2>
                    <p class="p2">iPhone 16 Pro Max 256 GB: 5G Mobile Phone with Camera Control, 4K 120 fps Dolby Vision and a Huge Leap in Battery Life. Works with AirPods; Black Titanium</p>
                        <div class="rating2">
                            <input type="radio" name="stara" id="star10" value="10">
                            <label for="star10">&#9733;</label>
                            <input type="radio" name="stara" id="star9" value="9">
                            <label for="star9">&#9733;</label>
                            <input type="radio" name="stara" id="star8" value="8">
                            <label for="star8">&#9733;</label>
                            <input type="radio" name="stara" id="star7" value="7">
                            <label for="star7">&#9733;</label>
                            <input type="radio" name="stara" id="star6" value="6">
                            <label for="star6">&#9733;</label>
                        </div>
                </div>
            </div>
            <div class="item3">
                <div class="img3">
                    <img src="https://m.media-amazon.com/images/I/815ZvsHky7L._SX679_.jpg" class="img3">
                </div>
                <div class="img3info">
                    <h2 class="h3">Lenovo LOQ 2024 13th Gen Core i5-13450HX | NVIDIA RTX 4050</h2>
                    <p class="p3">Lenovo LOQ 2024 13th Gen Core i5-13450HX | NVIDIA RTX 4050 6GB (16GB RAM/512GB SSD/15.6 Inches (39.6cm)/144Hz/Windows 11/MS Office 21/1Yr ADP Free/3 Mon Game Pass/Grey/2.4Kg), 83DV007GIN Gaming Laptop</p>
                        <div class="rating3">
                            <input type="radio" name="starb" id="star15" value="15">
                            <label for="star15">&#9733;</label>
                            <input type="radio" name="starb" id="star14" value="14">
                            <label for="star14">&#9733;</label>
                            <input type="radio" name="starb" id="star13" value="13">
                            <label for="star13">&#9733;</label>
                            <input type="radio" name="starb" id="star12" value="12">
                            <label for="star12">&#9733;</label>
                            <input type="radio" name="starb" id="star11" value="11">
                            <label for="star11">&#9733;</label>
                        </div>
                </div>
            </div>
            <div class="item4">
                <div class="img4">
                    <img src="https://m.media-amazon.com/images/I/815ZvsHky7L._SX679_.jpg" class="img4">
                </div>
                <div class="img4info">
                    <h2 class="h4">Lenovo LOQ 2024 13th Gen Core i5-13450HX | NVIDIA RTX 4050</h2>
                    <p class="p4">Lenovo LOQ 2024 13th Gen Core i5-13450HX | NVIDIA RTX 4050 6GB (16GB RAM/512GB SSD/15.6 Inches (39.6cm)/144Hz/Windows 11/MS Office 21/1Yr ADP Free/3 Mon Game Pass/Grey/2.4Kg), 83DV007GIN Gaming Laptop</p>
                        <div class="rating4">
                            <input type="radio" name="starc" id="star20" value="20">
                            <label for="star20">&#9733;</label>
                            <input type="radio" name="starc" id="star19" value="19">
                            <label for="star19">&#9733;</label>
                            <input type="radio" name="starc" id="star18" value="18">
                            <label for="star18">&#9733;</label>
                            <input type="radio" name="starc" id="star17" value="17">
                            <label for="star17">&#9733;</label>
                            <input type="radio" name="starc" id="star16" value="16">
                            <label for="star16">&#9733;</label>
                        </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>