<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="Login">
        <!-- <div class="logo"> -->
            <h1>Register</h1>
            <br>
            <form method="POST">
        <div class="login">
            <label >Usrename:</label>
            <input type="text" name="username" required>
            <br>
            <label>Password</label>
            <input type="text" name="password" required>
        <br>
        <button type="submit" class="button">Login</button>
            <!-- <p>Don't Register then click here : <a href="register.html">Register</a></p> -->
        </div>
    <!-- </div> -->
</div>
    </div>
</form>
</body>
</html>